.screen-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: var(--horizontal-space);
    padding-top:40px;
    margin-bottom: 15px;
}
.screen-header__title{
    font-size: 28px;
    font-weight: 600;
}
.screen-header__icons span{
    margin-left:25px;
    position: relative;
}
.screen-header__icons_dot{
    background-color: tomato;
    border-radius: 15px;
    width:10px;
    height:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:70px;
    bottom: 30px;
}